<%= form_for @article, builder: MaterialFormBuilder do |f| %>

    <!-- TODO: Error handling -->

    <div class="mdl-list">
      <div class="mdl-list__item">
        <%= f.text_field :title %>
      </div>
      <div class="mdl-list__item">
        <%= f.text_area :text %>
      </div>
      <div class="mdl-list__item">
        <%= f.submit %>
        <% if @article.persisted? %>
            <%= link_to 'Delete', @article,
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
        <% end %>
      </div>
    </div>

<% end %>